.card {
    margin: 15px;
    background: white;
    height: 90px;
    padding: 20px;
  }
  
  

  .name{
      float: left;
  }

  #routes{
      color:grey;

  }

  #number{
    font-size: 30px;
    margin-top: 15px;
    text-align: right;
  }

  .shipments{
      float: right;
      color:#252222
  }

  .trips{
    float: left;
    clear: left;
    font-size: 14px;
    color: #70bc87;
  }

