@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
    flex: 1;
    display: block;
    text-align: center;
    margin: 20px;
    background: rgb(224, 220, 220);
  }
  
  .search input {
    height: 42px;
    background: #f5f5f5;
    border: none;
    width: 100%;
    color: #58525271;
    background: rgb(224, 220, 220);
    display: block;
    text-indent: 32px;
  }
  
  .search input:focus{
    outline: none !important;
    border: none;
}
  .search .fa-search { 
    position: absolute;
    top: 14px;
    left: 10px;
  }