.names {
    font-family: "Roboto";
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
  }

  .contactList {
    background: white;
    padding: 20px;
    margin: 20px;
  }

  .initial {
    font-family: "Roboto";
    font-size: 20px;
    color: #00bbd3;
    margin-left: 10px;
  }

  #items {
    margin-left: 10% !important;
    margin-top: -40px;
  }